<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Shopsphere</title>

    <!-- Add your CSS styles here -->
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            padding: 0;
            color: black;
            background-color: white;
            overflow: auto;
        }

        .navbar {
            background-color: white;
            overflow: hidden;
            padding: 10px;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            animation: slideIn 0.5s ease-out;
        }

        @keyframes slideIn {
            from {
                transform: translateY(-100%);
            }

            to {
                transform: translateY(0);
            }
        }

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
        }

        .search-bar-container {
            display: flex;
            align-items: center;
        }

        .search-icon {
            margin-right: 0rem;
            margin-bottom: 1rem;
        }

        .search-bar {
            border-radius: 15px;
            overflow: hidden;
            width: 12rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        select {
            width: calc(100% - 20px);
            padding: 8px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            outline: none;
            transition: all 0.3s ease;
        }

        input[type="email"]:focus,
        input[type="password"]:focus {
            border-bottom: 2px solid #d15023;
            transform: scale(1.02);
        }

        .content-container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin: 50px auto;
        }

        .sample-image {
            width: 48%;
            box-sizing: border-box;
            max-width: 100%;
            animation: float 3s ease-in-out infinite;
        }

        @keyframes float {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }
        }

        .form-container {
            width: 48%;
            margin-left: 6%;
            margin-right: 20%;
            padding: 20px;
            animation: fadeIn 1s ease-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .form-container h2 {
            margin-bottom: 25px;
        }

        .form-container label {
            display: block;
            margin-bottom: 10px;
        }

        .form-container input {
            width: calc(100% - 20px);
            padding: 8px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            outline: none;
        }

        .form-container button {
            background-color: #d15023;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            width: 100%;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }

        .form-container button:hover {
            transform: scale(1.05);
            background-color: #b3411a;
        }

        .form-container a {
            display: inline;
            text-align: center;
            margin-top: 10px;
            color: #333;
        }

        a[href="/forget"] {
            transition: color 0.3s ease;
        }

        a[href="/forget"]:hover {
            color: #d15023;
        }

        .footer {
            background-color: #fefefe;
            color: #949292;
            text-align: center;
            padding: 5px;
            animation: fadeInFooter 1s ease-out 1s both;
        }

        @keyframes fadeInFooter {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        footer p {
            display: inline-block;
        }

        .navbar-left p {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            color: #333;
            text-decoration: none;
            height: 2px;

        }

        a.Signup-link {
            color: black;
            transition: color 0.3s ease;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }
        }

        a.Signup-link:hover {
            color: rgb(0, 136, 255);
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            .navbar-container {
                width: 90%;
            }

            .navbar-left a {
                font-size: 16px;
            }

            .content-container {
                flex-direction: column;
                align-items: center;
                margin: 20px auto;
            }

            .sample-image,
            .form-container {
                width: 90%;
                margin-bottom: 20px;
            }

            .form-container {
                padding: 10px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-container h2 {
                margin-bottom: 15px;
            }

            .form-container label {
                margin-bottom: 5px;
            }

            .form-container input {
                margin-bottom: 10px;
            }

            .form-container button {
                padding: 8px 12px;
            }

            .footer p {
                font-size: 0.7em;
            }
        }

        @media (min-width: 769px) {
            .content-container {
                flex-direction: row;
                align-items: flex-start;
                margin: 50px auto;
            }

            .sample-image,
            .form-container {
                width: 48%;
            }

            .form-container {
                margin-left: 6%;
                margin-right: 20%;
                padding: 20px;
            }

            .footer p {
                font-size: 12px;
            }
        }
    </style>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@800&family=Noto+Sans&family=Nunito:ital,wght@0,300;0,600;1,200&family=Ruwudu&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <p>Shopsphere</p>
            </div>
        </div>
    </div>

    <div class="content-container">
        <img src="https://img.freepik.com/free-vector/ecommerce-web-page-concept-illustration_114360-8204.jpg?w=2000"
            alt="Sample Image" class="sample-image">

        <div class="form-container">
            <h2>Login to Shopsphere</h2>
            <form id="form" action="/login" method="post">
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <button type="submit">Login</button>
                <a href="/forget">Forgot Password?</a>
                <p class="login">Didn't have an account? <a href="/register" class="Signup-link">Signup</a></p>
            </form>
            <% if(typeof message !=='undefined' ) { %>
                <p style="color: green;">
                    <%= message %>
                </p>
                <% } %>
        </div>
    </div>

    <div class="footer">
        <p>About &nbsp; Blog &nbsp; Jobs</p>
        <p>&copy; 2023 Shopsphere. All rights reserved.</p>
    </div>

</body>

</html>